*{
	margin: 0;
	box-sizing: border-box;
}
html, body{
	font-family: 'Montserrat', sans-serif;
	background-color: #232b2b;
	color: #e5d7ff;
}

.body{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.header, .post{
	background-color: #3c3f55;
}
.header{
	float: left;
	width: 150px;
	height: 100px;
	padding: 10px;
}
.nav_ul{
	list-style-type: none;
	padding: 0;
}
.nav_li{
	margin-bottom:5px;
}
.nav_link{
	color:#e5d7ff;
	font-weight: bold;
	text-decoration: none;
}

.create_input_css{
	display: flex;
	flex-direction: column;
	width: 200px;
}

.content{
	float: left;
	padding: 10px;
	min-width: 400px;
}
.user-follow{
	display:flex;
    flex-direction: row;
}
.post{
	margin-bottom: 10px;
	padding: 10px;

	border: 1px solid #002426;
	border-radius: 25px;
}
.post-name-container{
	display:flex;
	justify-content: flex-start;
	flex-direction: row;

	margin-bottom:5px;
}
.post-displayname-container{
	font-weight: bold;
	margin-right:10px;

	cursor: pointer;
}
.post-userid-container{
	font-weight: lighter;

	cursor: pointer;
}
.post-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.post-footer-sub{
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.post-heart-container{
	background-color: #70dcdc;
	cursor:pointer;
	
	padding: 5px 10px;
	border: none;
	border-radius: 25px;

	text-align: center;
	text-decoration: none;
}
.unlike-post:after{
	content:'[insert number]';
}
.unlike-post:hover:after{
	content:'unlike post';
}

.UserRequest{
	background-color: #61BBBB;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 10px;
	padding:10px;

	border: 1px solid #002426;
	border-radius: 25px;
}

.post_btn{
	float:right;
}
.post_btn:hover{
	cursor: pointer;
}